* {
    margin:0;
    padding:0;
}
.navbar-inverse {
    background-color:forestgreen;
    border:none;
}
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: forestgreen;
    }
